<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="Capi" connectionString="Data Source=mssql.uk.ds.network;Initial Catalog=orbexcoi_BD;Persist Security Info=True;User ID=IQIndia1;Password=21QI9k4vtz#niRuhu"/>
    <add name="Capis" connectionString="Data Source=mssql.uk.ds.network;Initial Catalog=orbexcoi_CapiCloud;Persist Security Info=True;User ID=orbexcoi_rpa;Password=Shri@Suman1234567890"/>
	  <add name="mySys" connectionString="Data Source=RAVINDRA;Initial Catalog=Registration;integrated security=True " providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>